<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<div id="app">
		<v-app>
			<v-toolbar app fixed clipped-left>
				<v-toolbar-title>Create Radarr/Sonarr preferred tags or indexer restrictions</v-toolbar-title>
			</v-toolbar>

			<v-content>
				<v-container>
					<v-layout row wrap>
						<v-flex xl6>
							<v-layout column wrap>
								<!-- Filters -->
								<v-flex xl6>
									<v-layout column wrap>
										<v-flex xl12>
											Filter release groups
											<v-select v-model="qualitySelections" :key="qualities.name"
												:items="qualities" item-text="name" item-value="id"
												label="Release qualities" multiple chips dense></v-select>
										</v-flex>
										<v-flex xl12>
											<v-layout>
												<v-flex xl6>
													<v-checkbox v-model="sceneOnly" label="Scene only"/>
												</v-flex>
												<v-flex xl6>
													<v-checkbox v-model="p2pOnly" label="P2P only"/>
												</v-flex>
											</v-layout>
										</v-flex>
										<v-flex xl12>
											<v-btn @click="updateGroupSelection()">Update</v-btn>
											<v-btn @click="clearQualityFilter()">Clear</v-btn>
										</v-flex>
									</v-layout>
								</v-flex>

								<!-- Tags -->
								<v-flex xl6>
									Radarr preferred tags or Sonarr/Radarr indexer restrictions
									<v-layout column wrap>
										<v-flex xl12>
											<v-textarea ref="textGeneratedTags" box auto-grow :readonly="true" browser-autocomplete="false"
												v-model="generatedTags"	@focus="$event.target.select()" />
										</v-flex>
										<v-flex xl12>
											<v-btn @click="generateTags()">Generate tags</v-btn>
										</v-flex>
									</v-layout>
								</v-flex>
							</v-layout>

						</v-flex>

						<!-- Release groups -->
						<v-flex xl6>
							<v-list subheader>
								<v-subheader>Release groups</v-subheader>

								<v-list-tile :value="true" v-for="(group, i) in groups" :key="groups.name" v-if="group.visible">
									<v-list-tile-action>
										<v-checkbox v-model="group.checked"></v-checkbox>
									</v-list-tile-action>

									<v-list-tile-content>
										<v-list-tile-title>
											<v-layout row wrap>
												<v-flex xl5>
													-{{ group.name }}
												</v-flex>
												<v-flex xl1>
													<p>{{ group.scene }}</p>
												</v-flex>
												<v-flex xl6>
													<p align="right" v-html="qualitiesToText(group.releaseQualities)"/>
												</v-flex>
											</v-layout>
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</v-app>
	</div>
 
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script>
		const hdtv720p = 1;
		const hdtv1080p = 2;
		const web720p = 4;
		const web1080p = 8;
		const bluray720p = 16;
		const bluray1080p = 32;
		const remux1080p = 64;
		const remux2160p = 128;

		new Vue({
			el: '#app',

			data: () => ({
				sceneOnly : false,
				p2pOnly : false,
				qualitySelections : [],
				generatedTags : "",
				groups : [
					// Scene
					{ scene: true, name: "AMIABLE", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "DRONES", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "PSYCHD", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "SPARKS", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "GECKOS", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "ROVERS", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "BLOW", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "Replica", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "FLAME", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "BiPOLAR", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "USURY", releaseQualities: [bluray720p, bluray1080p] },
					{ scene: true, name: "GHOULS", releaseQualities: [bluray720p, bluray1080p] },
					// Non-scene
					{ scene: false, name: "HDMaNiAcS", releaseQualities: [bluray720p, bluray1080p, remux1080p] },
					{	scene: false,	name: "FraMeSToR", releaseQualities: [bluray1080p, remux1080p, remux2160p] },
					{	scene: false, name: "EPSiLON", releaseQualities: [remux1080p, remux2160p] },
					{	scene: false,	name: "FGT", releaseQualities: [bluray720p, bluray1080p, remux1080p, remux2160p] },
				],

				qualities : [
					{ id: hdtv720p,	name: "HDTV-720p" },
					{ id: hdtv1080p,	name: "HDTV-1080p" },
					{ id: web720p,	name: "WEBDL-720p" },
					{ id: web1080p,	name: "WEBDL-1080p" },
					{ id: bluray720p,	name: "Bluray-720p" },
					{ id: bluray1080p,	name: "Bluray-1080p" },
					{ id: remux1080p,	name: "Remux-1080p" },
					{ id: remux2160p,	name: "Remux-2160p" },
				],
			}),
			created: function() {
				// Create reactive properties on groups
					for (var g = this.groups.length - 1; g >= 0; g--) {
						this.$set(this.groups[g], 'visible', false); 
						this.$set(this.groups[g], 'checked', false); 
					}
				// Update all qualities
				this.updateGroupSelection();
			},
			methods: {
				generateTags() {

					this.generatedTags = "";
					var s = "";
					for (var i = 0; i < this.groups.length; i++) {
						if (this.groups[i].checked == true)
						{
							s += "-" + this.groups[i].name + ",";
						}
					}
					this.generatedTags = s;
					this.$refs.textGeneratedTags.focus();
					this.$refs.textGeneratedTags.$refs.input.select();
				},

				updateGroupSelection() {
					if (this.qualitySelections.length == 0)
					{
						// Hide and uncheck all groups
						for (var g = this.groups.length - 1; g >= 0; g--) {
							this.groups[g].visible = false;
							this.groups[g].checked = false;
						}
						return;
					}

					var qualitySelection = this.qualitySelections;

					for (var g = this.groups.length - 1; g >= 0; g--){
						var group = this.groups[g];

						var groupSelected = this.sceneOnly ? group.scene : true;

						if (groupSelected){
							var qualityMatch = group.releaseQualities.filter(function(elem){
								if (qualitySelection.indexOf(elem) > -1) { return true; }
								return false;
							});
							groupSelected = qualityMatch.length > 0;
						}

						group.visible = groupSelected; 
						group.checked = groupSelected; 
					}

				},
				clearQualityFilter() {
					this.qualitySelections = [];
					this.updateGroupSelection();
				},
				qualitiesToText(q) {
					var result = "";
					if (q == null)
					{
						return result;
					}

					for (var i = 0; i < q.length; i++) {
						var quality = this.qualities.filter(function(elem){
							if(elem.id == q[i]) return elem.name;
						});

						if (quality != null){
							var isSelected = false;
							if (this.qualitySelections.length > 0) {
								if (this.qualitySelections.indexOf(quality[0].id) > -1)
								{
									isSelected = true;
								}
							}

							result += (isSelected ? "<b>" : "") + quality[0].name + (isSelected ? "</b>" : "") + ", ";
						}
						
					}
					return result;
				},
			}
		})
	</script>

</body>
</html>