<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<div id="app">
		<v-app>
			<v-toolbar app fixed clipped-left color="teal darken-4 white--text">
				<v-toolbar-title>Create Radarr/Sonarr preferred tags or indexer restrictions</v-toolbar-title>
			</v-toolbar>

			<v-content>
				<v-container>
					<v-layout row wrap>
						<v-flex md5 class="ma-0 px-1">
							<v-layout column wrap>
								<!-- Filters -->
								<v-flex class="mb-3">
									<v-layout column wrap>
										<v-flex>
											Filter release groups
											<v-select v-model="qualitySelections" :key="qualities.name"
												:items="qualities" item-text="name" item-value="id"
												v-on:change="updateGroups()"
												label="Release qualities" multiple chips dense></v-select>
										</v-flex>
										<v-flex>
											<v-layout>
												<v-flex>
													<v-switch v-model="sceneOnly" label="Scene only" v-on:change="updateGroups()"/>
												</v-flex>
												<v-flex>
													<v-switch v-model="hideMulti" label="Hide MULTI" v-on:change="updateGroups()"/>
												</v-flex>
											</v-layout>
										</v-flex>
										<v-flex>
											<v-btn color="info" @click="resetFilter()">Reset filter</v-btn>
										</v-flex>
									</v-layout>
								</v-flex>

								<!-- Tags -->
								<v-flex>
									Radarr preferred tags or Sonarr/Radarr indexer restrictions
									<v-layout column wrap>
										<v-flex>
											<v-textarea ref="textGeneratedTags" auto-grow :readonly="true" browser-autocomplete="false"
												v-model="generatedTags"	hint="Copy selected tags to Radarr or Sonarr" v-on:focus="$event.target.select()"/>
										</v-flex>
									</v-layout>
								</v-flex>
							</v-layout>
						</v-flex>

						<!-- Release groups -->
						<v-flex md7 class="ma-0 px-1">
							<v-data-table :headers="groupsHeaders" :items="groupsItems" v-model="groupsSelected"
								:pagination.sync="groupsPagination" select-all
								:rows-per-page-items="groupsRowsPerPageItems"
								class="elevation-1" item-key="name">
								<template slot="headers" slot-scope="props">
									<tr>
										<th class="ma-0 pl-2 pr-1" width="20">
											<v-checkbox :input-value="props.all" :indeterminate="props.indeterminate"
												primary hide-details @click.native="groupsSelectAll"/>
										</th>
										<th
											v-for="header in props.headers"
											:key="header.text"
											:class="['column sortable', groupsPagination.descending ? 'desc' : 'asc', header.value === groupsPagination.sortBy ? 'active' : '']"
											class="ma-0 pl-0 pr-3"
											@click="groupsChangeSort(header.value)"
										><span style="float:left;"><v-icon small>arrow_upward</v-icon>{{ header.text }}</span></th>
									</tr>
								</template>

								<template slot="items" slot-scope="props">
									<tr :active="props.selected" @click="props.selected = !props.selected">
										<td class="ma-0 pt-3 pb-0 pl-2 pr-1" width="20">
											<v-checkbox :input-value="props.selected" primary />
										</td>
										<td class="ma-0 pl-1 py-0">
											<label class="v-label" style="left: 0px; right: auto; position: relative;">{{ props.item.name }}</label>
											<div class="v-messages">
												<div class="v-messages__wrapper">
													<div class="v-messages__message">
														<span v-html="buildGroupHint(props.item)" />
													</div>
												</div>
											</div>
										</td>
										<td class="ma-0 pl-3 pr-1" width="10">
											<v-icon v-if="props.item.scene">done</v-icon>
										</td>
										<td class="ma-0 pl-3 pr-1" width="10">
											<v-icon v-if="props.item.multi">warning</v-icon>
										</td>
									</tr>
								</template>
							</v-data-table>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</v-app>
	</div>
 
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script>
		const hdtv720p = 1;
		const hdtv1080p = 2;
		const hdtv2160p = 3;
		const web720p = 10;
		const web1080p = 11;
		const web2160p = 12;
		const bluray720p = 20;
		const bluray1080p = 21;
		const bluray2160p = 22;
		const remux1080p = 30;
		const remux2160p = 31;

		new Vue({
			el: '#app',

			data: () => ({
				sceneOnly : false,
				hideMulti : false,
				qualitySelections : [],
				generatedTags : "",

				groupsPagination: {
					sortBy: 'name'
				},
				groupsRowsPerPageItems: [ 10,20,40,{"text":"$vuetify.dataIterator.rowsPerPageAll","value":-1} ],
				groupsSelected: [],
				groupsHeaders: [
					{ text: 'Name', value: 'name' },
					{ text: 'Scene', value: 'scene', align: 'right' },
					{ text: 'Multi', value: 'multi', align: 'right' },
				],
				groupsItems : [],

				groups : [
					// Scene
					{ scene: true, name: "AMIABLE", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "DRONES", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "PSYCHD", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "SPARKS", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "GECKOS", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "ROVERS", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "BLOW", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "Replica", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "FLAME", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "BiPOLAR", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "USURY", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "GHOULS", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "CADAVER", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "GUACAMOLE", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "UNVEiL", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "MELiTE", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "REGRET", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "SADPANDA", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "JustWatch", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "CiNEFiLE", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "SiNNERS", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "VETO", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "DEPTH", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "RedBlade", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "GETiT", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "RUSTED", qualities: [bluray720p, bluray1080p], multi: false },
					{ scene: true, name: "NODLABS", qualities: [bluray720p, bluray1080p], multi: false },

					{ scene: true, name: "TERMiNAL", qualities: [bluray2160p, remux2160p], multi: false },

					// MULTI
					{ scene: true, name: "LOST", qualities: [bluray720p, bluray1080p], multi: true },
					{ scene: true, name: "VENUE", qualities: [bluray720p, bluray1080p], multi: true },
					{ scene: true, name: "UKDHD", qualities: [bluray720p, bluray1080p], multi: true },
					{ scene: true,	name: "TUSAHD", qualities: [bluray720p, bluray1080p, remux1080p, remux2160p], multi: true },

					// Non-scene
					{ scene: false, name: "HDMaNiAcS", qualities: [bluray720p, bluray1080p, remux1080p], multi: false, source: "HD-Torrents" },
					{ scene: false, name: "KRaLiMaRKo", qualities: [remux1080p], multi: false, source: "HD-Torrents" },
					{ scene: false, name: "HiDt", qualities: [bluray720p, bluray1080p], multi: false, source: "HD-Torrents" },
					{ scene: false,	name: "FraMeSToR", qualities: [bluray1080p, remux1080p, remux2160p], multi: false, source: "BeyondHD" },
					{ scene: false, name: "EPSiLON", qualities: [remux1080p, remux2160p], multi: false, source: "PrivateHD" },
					{ scene: false,	name: "FGT", qualities: [bluray720p, bluray1080p, remux1080p, remux2160p], multi: false, source: "RARBG" },
					{ scene: false,	name: "LEGi0N", qualities: [bluray720p, bluray1080p, remux1080p, remux2160p], multi: false, source: "HD4Free" },
					{ scene: false,	name: "NTb", qualities: [bluray720p, bluray1080p, web720p, web1080p], multi: false },
					{ scene: false,	name: "NTG", qualities: [web1080p], multi: false },
					{ scene: false,	name: "FANDANGO", qualities: [bluray720p, bluray1080p], multi: false, source: "HDBits" },
					{ scene: false,	name: "CtrlHD", qualities: [bluray720p, bluray1080p], multi: false, source: "HDBits" },
					{ scene: false,	name: "TayTO", qualities: [bluray720p, bluray1080p], multi: false, source: "HDBits" },
					{ scene: false,	name: "D-Z0N3", qualities: [bluray720p, bluray1080p], multi: false, source: "Awesome-HD" },
					{ scene: false, name: "PmP", qualities: [remux1080p], multi: false },
					{ scene: false, name: "eXcommunicado", qualities: [remux1080p], multi: false },
					{ scene: false, name: "iFT", qualities: [remux1080p], multi: false, source: "IPTorrents" },
					{ scene: false,	name: "BMF", qualities: [bluray1080p, remux1080p], multi: false, source: "Awesome-HD" },
					{ scene: false,	name: "HiFi", qualities: [bluray1080p, remux1080p], multi: false, source: "Awesome-HD" },
					{ scene: false,	name: "NCmt", qualities: [bluray720p, bluray1080p, remux1080p], multi: false, source: "Awesome-HD" },
					{ scene: false,	name: "HDH", qualities: [bluray720p, bluray1080p, remux1080p], multi: false, source: "HDHome" },
					{ scene: false,	name: "BluPanther", qualities: [bluray720p, bluray1080p, remux1080p], multi: false, source: "HD-Space" },
					{ scene: false,	name: "LorD", qualities: [bluray720p, bluray1080p, remux1080p], multi: false, source: "HD-Torrents" },
					{ scene: false,	name: "BluDragon", qualities: [bluray720p, bluray1080p, remux1080p], multi: false, source: "HD-Torrents" },
					{	scene: false,	name: "EVO", qualities: [web720p, web1080p, bluray720p, bluray1080p], multi: false },
					{ scene: false,	name: "OMEGA", qualities: [web720p, web1080p, remux1080p], multi: false },
					{ scene: false, name: "SiGMA", qualities: [web1080p], multi: false },
					{ scene: false, name: "TrollHD", qualities: [web1080p, web2160p], multi: false },
					{ scene: false, name: "R2D2", qualities: [web720p, web1080p, remux1080p], multi: false, source: "HQSource" },
				],

				qualities : [
					{ id: hdtv720p,	name: "HDTV-720p" },
					{ id: hdtv1080p,	name: "HDTV-1080p" },
					{ id: hdtv2160p,	name: "HDTV-2160p" },
					{ id: web720p,	name: "WEBDL-720p" },
					{ id: web1080p,	name: "WEBDL-1080p" },
					{ id: web2160p,	name: "WEBDL-2160p" },
					{ id: bluray720p,	name: "Bluray-720p" },
					{ id: bluray1080p,	name: "Bluray-1080p" },
					{ id: bluray2160p,	name: "Bluray-2160p" },
					{ id: remux1080p,	name: "Remux-1080p" },
					{ id: remux2160p,	name: "Remux-2160p" },
				],
			}),
			methods: {
				generateTags() {
					this.generatedTags = "-" + this.groupsSelected
						.sort((a, b) => a.name > b.name)
						.map(x => x.name)
						.join(",-");
				},

				groupsSelectAll() {
					if (this.groupsSelected.length)
						this.groupsSelected = []
					else
						this.groupsSelected = this.groupsItems.slice()
				},

				groupsChangeSort(column) {
					if (this.groupsPagination.sortBy === column) {
						this.groupsPagination.descending = !this.groupsPagination.descending
					} else {
						this.groupsPagination.sortBy = column
						this.groupsPagination.descending = false
					}
				},

				updateGroups() {
					this.groupsSelected = [];
					this.groupsItems = [];
	
					if (this.qualitySelections.length == 0)	return;

					var qualitySelection = this.qualitySelections;

					for (var g = this.groups.length - 1; g >= 0; g--){
						var group = this.groups[g];

						var groupSelected = this.sceneOnly ? group.scene : true;
						if (groupSelected){
							groupSelected = this.hideMulti ? !group.multi : true;
						}

						if (groupSelected){
							var qualityMatch = group.qualities.filter(function(elem){
								if (qualitySelection.indexOf(elem) > -1) { return true; }
								return false;
							});
							groupSelected = qualityMatch.length > 0;
						}

						if (groupSelected){
							this.groupsItems.push(group);
							this.groupsSelected.push(group);
						}

						this.generateTags();
					}

				},
				resetFilter() {
					this.qualitySelections = [];
					this.sceneOnly = false;
					this.hideMulti = false;
					this.generatedTags = "";
					this.groupsSelected = [];
				},
				buildGroupHint(item) {
					var result = "";
					if (item == null)
					{
						return result;
					}

					if (item.source != null)
					{
						result += "[" + item.source + "] ";
					}

					for (var i = 0; i < item.qualities.length; i++) {
						var quality = this.qualities.filter(function(elem){
							if(elem.id == item.qualities[i]) return elem.name;
						});

						if (quality != null){
							var isSelected = false;
							if (this.qualitySelections.length > 0) {
								if (this.qualitySelections.indexOf(quality[0].id) > -1)
								{
									isSelected = true;
								}
							}

							result += (isSelected ? "<b>" : "") + quality[0].name + (isSelected ? "</b>" : "") + ", ";
						}
						
					}
					return result.substring(0,result.length-2);
				},
			}
		})
	</script>

</body>
</html>